<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pia 2024 s1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="menu">
        <section class="menu__container">
            <ul class="menu__links">
                <li class="menu__item">
                    <a href="/" class="menu__link">Inicio</a>
                </li>
                <li class="menu__item menu__item--show">
                    <a href="#" class="menu__link">Modelo IA<img src="/static/assets/arrow.svg" class="menu__arrow"></a>
    
                    <ul class="menu__nesting">
                        <li class="menu__inside">
                            <a href="/predict" class="menu__link menu__link--inside">Primer modelo</a>
                        </li>
                        <li class="menu__inside">
                            <a href="/predict2" class="menu__link menu__link--inside">Segundo modelo</a>
                        </li>
                    </ul>
                </li>
                
                <li class="menu__item">
                    <a href="/sobrenosotros" class="menu__link">Sobre Nosotros</a>
                </li>
                <li class="menu__item">
                    <a href="/estudiosrelacionados" class="menu__link">Estudios Relacionados</a>
                </li>
                
    
            </ul>

            <div class="menu__hamburguer">
                <img src="/static/assets/menu.svg" class="menu__img">
            </div>
        </section>
    </nav>
    <div class="conteiner">
        <h2>EN QUE SE BASÓ</h2>
        <p>Se basó en la problemática de las emociones de las personas, como una entidad
            organizacional, en cómo estas se analizan y realizan aportaciones a la inteligencia
            emocional, el capital emocional, relacional e intelectual. Para esto tomó en cuenta una
            muestra de personas (en este caso estudiantes titulados) y como el aspecto cognitivo,
            emocional y relacional de estas personas y cómo estos aspectos afectan a distintas
            características. Esta es la parte principal de la investigación.
            “La información base de la investigación fue obtenida por medio de la escala
            TECER-20121, diseñada y aplicada a una muestra final de 892 estudiantes
            universitarios y titulados. Permitió relevar antecedentes cognitivos, emocionales y
            relacionales (competencias de aprendizaje y formación y competencias emocionales
            en las dimensiones de reconocimiento y regulación, tanto personal como social)”</p>

            <h2>PORQUE HIZO EL ESTUDIO</h2>
            <p>El estudio se realizó para encontrarle un sentido y/o significado a las emociones de las
                personas, en este caso específico la muestra para desarrollar el estudio fueron estudiantes
                universitarios.
                “La Investigación de la tesis doctoral tuvo por finalidad formular una propuesta de un
                modelo operacional que identifique el capital emocional de las personas que se están
                formando profesionalmente a nivel universitario (estudiantes de pregrado)y de
                aquellos que desarrollan actividades profesionales (universitarios titulados) y a base
                de su evaluación caracterizar los 125 aspectos determinantes de mejoramiento en
                pos de un mejor desarrollo de su capital humano, tanto para su proceso de formación
                
                como para su posterior vida profesional.”</p>

            <h2>COMO HIZO EL ESTUDIO</h2>
            <p>Para el estudio se realizaron varias cosas, se formularon modelos operacional, se intentó
                validar un conjunto de hipótesis, se realizó un análisis bibliométrico,etc.
                Se desarrolló toda una metodología para el estudio, con distintas partes como: diseño y
                validación de un modelo, aplicación y análisis, y resultados.
                Previamente a todo esto se hizo una contextualización de los temas a tratar, se investigó
                sobre la inteligencia emocional y sus aportaciones, la evolución de la inteligencia emocional,
                etc.</p>

            <h2>RESULTADOS QUE TUVO</h2>
            <p>Análisis de Normalidad: Utilizando la prueba de Kolmogorov-Smirnov, se verificó que los
                datos se distribuyen normalmente, lo que permite aceptar la hipótesis nula (H0) de que los
                datos provienen de una población normal.
                Análisis de Confiabilidad:
                Se utilizó el coeficiente alfa de Cronbach para determinar la consistencia interna de los
                instrumentos CE (Capital Emocional) y CR (Capital Relacional). Los resultados mostraron
                una alta confiabilidad con coeficientes alfa de 0.8860 y 0.9771 para CE y CR,
                respectivamente.
                
                Se utilizó también el método de mitades partidas y análisis de elementos tipificados para
                confirmar la confiabilidad de los instrumentos.</p>
            <h2>Explicación de los Resultados:</h2>
            <p>1. Análisis de Normalidad:
                ○ La prueba de Kolmogorov-Smirnov se aplicó para determinar si los datos
                recopilados seguían una distribución normal. Los resultados indicaron que,
                en general, los datos sí se distribuyen normalmente, lo cual es crucial para la
                validez de los análisis estadísticos posteriores.
                ○ Aceptar la hipótesis nula implica que los datos son adecuados para aplicar
                técnicas estadísticas que asumen normalidad, como los análisis
                multivariantes utilizados en el estudio.</p>
            <p>
                2. Análisis de Confiabilidad:
                ○ Alfa de Cronbach: Este coeficiente mide la consistencia interna de un
                instrumento, es decir, cuán bien los ítems de una escala están
                correlacionados entre sí. Valores superiores a 0.7 se consideran aceptables,
                indicando que el instrumento es fiable. En este estudio, los altos valores
                obtenidos para CE y CR sugieren que los instrumentos miden de manera
                consistente el capital emocional y relacional.
                ○ Mitades Partidas y Elementos Tipificados: Estos métodos adicionales
                confirmaron la fiabilidad de los instrumentos, proporcionando una validación
                robusta de los resultados obtenidos.</p>
            
            <h2>Inferencias:</h2>
            <p>● Capital Emocional y Relacional: La investigación demuestra que es posible
                evaluar de manera fiable el capital emocional y relacional de los estudiantes y
                profesionales utilizando los instrumentos desarrollados.
                </p>
            <p>
                ● Aplicaciones Prácticas: Los modelos IEom2 y ICom2 pueden ser utilizados para
                identificar y desarrollar competencias emocionales e intelectuales en contextos
                educativos y profesionales.</p>
            
         
        
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>