<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pia 2024 s1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="menu">
        <section class="menu__container">
            <ul class="menu__links">
                <li class="menu__item">
                    <a href="/" class="menu__link">Inicio</a>
                </li>
                <li class="menu__item menu__item--show">
                    <a href="#" class="menu__link">Modelo IA<img src="/static/assets/arrow.svg" class="menu__arrow"></a>
    
                    <ul class="menu__nesting">
                        <li class="menu__inside">
                            <a href="/predict" class="menu__link menu__link--inside">Primer modelo</a>
                        </li>
                        <li class="menu__inside">
                            <a href="/predict2" class="menu__link menu__link--inside">Segundo modelo</a>
                        </li>
                    </ul>
                </li>
                
                <li class="menu__item">
                    <a href="/sobrenosotros" class="menu__link">Sobre Nosotros</a>
                </li>
                <li class="menu__item">
                    <a href="/estudiosrelacionados" class="menu__link">Estudios Relacionados</a>
                </li>
                
    
            </ul>

            <div class="menu__hamburguer">
                <img src="/static/assets/menu.svg" class="menu__img">
            </div>
        </section>
    </nav>
    <div class="conteiner">
        <h2>Sobre este proyecto</h2>
        <h3>Descripción del Proyecto</h3>
        <p>Este proyecto se centra en la creación de un modelo de Aprendizaje Automático (Machine Learning) que sea capaz de reconocer emociones dentro de una frase, utilizando el método supervisado. Este método comienza con datos de entrenamiento que incluyen el resultado requerido para ajustar el algoritmo de aprendizaje automático. El modelo pertenece a la categoría de Clasificación, donde los algoritmos examinan una entrada y eligen una respuesta a partir de opciones predefinidas. En este caso, el modelo predecirá la emoción en una frase, y este proceso se escalará para predecir miles de frases simultáneamente. Los resultados de todas las predicciones permitirán realizar interpretaciones, como determinar la emoción predominante en una red social específica.
            Estos resultados se relacionarán con el modelo de inteligencia emocional: "Modelo de Inteligencia Emocional Final - IEom2 Reconocimiento y Regulación Emocional por Subescala – Tecer 2012 - final". Por ejemplo, si la emoción predominante en el conjunto de resultados es tristeza, se podría inferir que en dicho conjunto predomina la autoconciencia emocional en un 50%, el autocontrol emocional en un 30%, y la tolerancia a la frustración en un 20%, indicando que contiene más capital emocional que capital social. Esto se basará en una matriz de pesos creada por los predecesores de este proyecto y revisada y corregida por los actuales contribuyentes del mismo, donde se asigna un cierto peso en porcentaje a las 281 emociones encontradas según la representación de los capitales del modelo IEom2.
            Ademas del modelo de machine learning, realizamos 2 programas que recolectan comentarios de redes sociales (Reddit y X) de manera automatica, estos datos fueron procesados por nuestro modelo con el fin de conocer que emociones son las que mas entan presentes en los comentarios que recolectamos
        </p>

        <h3>Evolución y Aplicación del Machine Learning en el Procesamiento del Lenguaje Natural</h3>
        <p>El Machine Learning ha evolucionado desde sus inicios hasta convertirse en una herramienta esencial en múltiples campos, especialmente en el procesamiento del lenguaje natural. Modelos preentrenados como BERT (Bidirectional Encoder Representations from Transformers) y GPT han revolucionado la manera en que abordamos tareas de Procesamiento de Lenguaje Natural (NLP), permitiendo crear sistemas más precisos y eficientes. Aplicando estas tecnologías al análisis de sentimientos, es posible desarrollar modelos que entiendan y clasifiquen el sentimiento de las frases con gran precisión, facilitando su implementación en diversas aplicaciones comerciales y de investigación.
        </p>
        <h3>¿Qué es un Modelo de Entrenamiento en Machine Learning?
        </h3>
        <p>Un modelo de entrenamiento en Machine Learning se refiere al proceso mediante el cual un algoritmo de aprendizaje automático se entrena utilizando un conjunto de datos para realizar una tarea específica, como la clasificación, la regresión, la agrupación (clustering) o la predicción. Durante el entrenamiento, el modelo aprende patrones y relaciones a partir de los datos que luego puede aplicar a nuevos datos no vistos para hacer predicciones o tomar decisiones.
        </p>
        <h3>Modelo Base y Ajuste del Dataset</h3>
        <p>Para la creación de este modelo se utilizará como base el modelo RoBERTa-bne, una versión adaptada al español de RoBERTa, que a su vez mejora el modelo BERT. Nuestro modelo adaptará RoBERTa-bne a la tarea de predicción de emociones. Además, se implementará un método de extracción automática de información (scraping) para conseguir datos de entrenamiento o de prueba.
            Una tarea crucial para el entrenamiento del modelo será ajustar el conjunto de datos, agrupando emociones con poca representación junto con una emoción sinónima, por ejemplo, agrupando "felicidad" en "alegría". Esto reducirá la cantidad de “respuestas correctas posibles” y permitirá un modelo más preciso. Este ajuste resultó en la reducción de 281 emociones a 31 grupos, liderados y nombrados según la emoción más representativa del grupo.
        </p>
        <h3>Recoleccion de Comentarios</h3>
        <p>Se recolecto un total de 110.046 comentarios de Reddit y X provenientes de 420 Urls.</p>
        <h3>Resultados</h3>
        <p>Al usar nuestro modelo de prediccion de emociones en los comentarios que recolectamos a lo largo del semestre obtuvimos los siguientes resultados .</p>
        <p>Listado de emociones y la cantidad de personas por emoción:
            alegría: 33271 personas
            indignación: 14704 personas
            molestia: 8728 personas
            duda: 7194 personas
            tristeza: 7118 personas
            interés: 6538 personas
            desdén: 5494 personas
            frustración: 5142 personas
            confusión: 4052 personas
            ansiedad: 3450 personas
            preocupación: 2419 personas
            apoyo: 2246 personas
            decepción: 1904 personas
            odio: 1714 personas
            amor: 1099 personas
            deseo: 1288 personas
            sorpresa: 764 personas
            dolor: 588 personas
            orgullo: 541 personas
            cansancio: 517 personas
            tranquilidad: 396 personas
            Vergüenza: 333 personas
            Arrepentimiento: 184 personas
            admiración: 170 personas
            desesperación: 139 personas
            culpa: 33 personas
            Asombro: 20 personas
            
            Total de emociones analizadas: 110046 personas
        </p>
        <p>
            Porcentaje de personas por emoción:
            alegría: 30.23%
            molestia: 7.93%
            Indignación: 7.49%
            duda: 6.54%
            tristeza: 6.47%
            interés: 5.94%
            desdén: 4.99%
            frustración: 4.67%
            confusión: 3.68%
            ansiedad: 3.14%
            preocupación: 2.20%
            apoyo: 2.04%
            decepción: 1.73%
            odio: 1.56%
            amor: 1.00%
            deseo: 1.00%
            sorpresa: 0.69%
            dolor: 0.53%
            orgullo: 0.49%
            cansancio: 0.47%
            tranquilidad: 0.36%
            Vergüenza: 0.30%
            Deseo: 0.17%
            Arrepentimiento: 0.17%
            admiración: 0.15%
            desesperación: 0.13%
            Culpa: 0.03%
            Asombro: 0.02%
            
            </p>
        <img src="/static/assets/tabla.jpg" >
        <img src="/static/assets/grafico1.jpeg" >
        <img src="/static/assets/grafico2.jpeg" >
        <img src="/static/assets/grafico3.jpg" >
        <h2>Relación de nuestro proyecto con el modelo IEom 2</h2>
        <h3>Análisis haciendo uso de la matriz de pesos, donde se ponderan los porcentajes con los datos recolectados con nuestro modelo</h3>
        <p>
            A continuación, una tabla donde están las 31 emociones escogidas y sus respectivas ponderaciones en cuanto a capitales, ya sea emocional, relacional y sus subfactores (Véase pestaña de estudios relacionados):
        </p>
        <img src="/static/assets/etabla1.png" alt="Tabla1">
        <p>
            Y a continuación, una tabla en la cual se representa la cantidad de repeticiones de cada emoción, a través de la cual se creará un puntaje, Este puntaje se saca multiplicando los porcentajes de ponderación anterior por la cantidad de repeticiones de la emoción encontrados por nuestro modelo de aprendizaje automático, entrenado para calificar frases según las 31 emociones. Estos puntajes demuestran una representación de los capitales y sus subfactores según la cantidad de repeticiones, lo que servirá para saber las proporciones de representación de estos capitales en las redes sociales analizadas (Reddit y X).
        </p>
        <img src="/static/assets/etabla2.png" alt="Tabla2">
        <h3>Graficos obtenidos</h3>
        <img src="/static/assets/egraf1.png" alt="graf1">
        <img src="/static/assets/egraf2.png" alt="graf2">
        <img src="/static/assets/egraf3.png" alt="graf3">
        <img src="/static/assets/egraf4.png" alt="graf4">
        <img src="/static/assets/egraf5.png" alt="graf5">
        <img src="/static/assets/egraf6.png" alt="graf6">
        <h3>Conclusiones</h3>
        <p>Estos resultados demuestran que en las redes sociales predomina el capital emocional, con un 61,2% de representación, frente al relacional, que tiene 38,8% de representación. También se puede concluir que Regulación social (30,4%), Auto reconocimiento (28%) y Auto regulación (33,3%), tienen valores muy parecidos de representación, lo que representa cierto equilibrio. Sin embargo, esta Reconocimiento, con 8,4% de representación, lo que puede significar que las emociones relacionadas con la capacidad de reconocer y entender las emociones de los demás son menos expresadas o valoradas en las interacciones en redes sociales. Esto podría indicar una tendencia hacia una mayor introspección y manejo de las propias emociones, en lugar de un enfoque en la empatía y la comprensión mutua.
        </p>
        <p>El predominio del capital emocional en las redes sociales refleja cómo los usuarios tienden a compartir y expresar más sus estados emocionales internos, lo cual puede estar relacionado con la naturaleza personal y a veces anónima de estas plataformas. Este fenómeno también resalta la importancia de las emociones en la construcción de la identidad digital y en la interacción con otros usuarios.
        </p>
        <p>Además, el equilibrio observado entre Regulación social, Auto reconocimiento y Auto regulación sugiere que las personas están igualmente enfocadas en cómo se manejan emocionalmente tanto en sus interacciones sociales como en su comprensión y control de sus propias emociones. Esta paridad puede indicar una conciencia creciente sobre la importancia de la inteligencia emocional en el ámbito digital.
        </p>
        <p>Por otro lado, la menor representación del Reconocimiento puede implicar la necesidad de fomentar más habilidades de empatía y comprensión emocional en los entornos digitales, promoviendo interacciones más humanas y conectadas. En resumen, estos resultados proporcionan una visión integral de cómo las emociones se manifiestan y se valoran en las redes sociales, subrayando tanto las fortalezas como las áreas que pueden beneficiarse de un mayor desarrollo y atención.
        </p>
        <p>Por último, haciendo un análisis al primer grafico donde se representan todos los subfactores, se destaca la poca representación de la autoestima, con 1,6% de representación, lo que puede ser indicativo de que los usuarios de redes sociales no suelen expresar directamente su autoestima o confianza en sí mismos en estas plataformas. Esta baja representación podría sugerir que los usuarios son más reacios a compartir aspectos positivos de su autoimagen, posiblemente debido a la percepción de que tales publicaciones podrían ser vistas como arrogantes o vanidosas.
        </p>
        <p>La poca representación de la autoestima en las redes sociales también puede reflejar una tendencia a enfocarse más en otras emociones, como la frustración, la ansiedad o la indignación, que tienden a generar más interacción y respuesta de otros usuarios. Esto puede crear un ciclo en el que las emociones negativas son más prominentes y reforzadas en las plataformas digitales.
        </p>
        <p>Además, la baja expresión de autoestima podría tener implicaciones sobre cómo las redes sociales afectan la salud mental y el bienestar de los usuarios. La falta de representación de autoestima podría estar correlacionada con problemas de autoconfianza y una mayor susceptibilidad a las influencias negativas de las redes sociales, como la comparación social y la crítica externa.

        </p>
        <p>En conjunto, estos hallazgos subrayan la complejidad del capital emocional en las redes sociales y la necesidad de fomentar un entorno digital más equilibrado y positivo. Promover la expresión de una gama más amplia de emociones, incluida la autoestima, podría contribuir a un uso más saludable y constructivo de las redes sociales, ayudando a los usuarios a construir una identidad digital más positiva y resiliente.
        </p>
        <h3>Análisis sin uso de los datos recolectados por nuestro modelo, solo análisis de los pesos de las 31 emociones consideradas, sin ponderación de repeticiones en nuestro modelo
        </h3>
        <p>En la tabla que se presenta a continuación, se muestra la suma de los porcentajes de representación de pesos entre factores de polaridad y factores emocionales para las 31 emociones seleccionadas. Estas son las emociones más representativas en las redes sociales, según el dataset de los predecesores de este proyecto, que recopilaron 27,000 comentarios. Cada comentario fue interpretado manualmente y se le asignó una de las 281 emociones consideradas en ese momento. A partir de esta evaluación, se concluyó que las 31 emociones más repetidas, en función de la cantidad de veces que aparecieron, son las más representativas.
        </p>
        <img src="/static/assets/etabla3.png" alt="tabla3">
        <img src="/static/assets/etabla4.png" alt="Tabla4">
        <p>Se puede concluir que la Autoconciencia emocional es la que más tiene representación en las 31 emociones.
        </p>
        <img src="/static/assets/etabla5.png" alt="Tabla5">
        <p>Y en la siguiente tabla se pueden ver las distribuciones de pesos entre factores de polaridad y factores emocionales, pero de las 5 emociones que más representatividad tenían, (en los resultados de nuestro modelo predictivo) de las 31 emociones seleccionadas. Fueron omitidas las clasificaciones con ningún valor dentro de estas 5 emociones.

        </p>
        <img src="/static/assets/egraf7.png" alt="graf7">
        <p>Se puede concluir que la Autoconciencia emocional es la que más tiene representación en las 31 emociones.</p>

    </div>
   
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>